<!DOCTYPE html>
<html>
<head>
	<title>Equipo Docente IN3501</title>
	<meta charset="utf-8">
</head>
<body>

	<h1>Equipo Docente IN3501<h1>

		<div>
		<table>
			<tr>
				<td><h1>Profesores de Cátedra<h1></td>
				<td><h1>Profesores Auxiliares<h1></td>
				<td><h1>Ayudantes<h1></td>
			</tr>
			<tr>
				<td>Víctor Hernández M.</td>
				<td>Macarena V. Osorio A. (Auxiliar Cordinadora)</td>
				<td>Carlos Vega</td>
			</tr>
			<tr>
				<td>Iván Díaz</td>
				<td>José Canto</td>
				<td>Catalina Martin D.</td>
			</tr>
			<tr>
				<td>Ángel Jimenez</td>
				<td>Javiera Ovalle T</td>
				<td>Eduardo Valerio C.</td>
			</tr>
			<tr>
				<td></td>
				<td>Jorge Pinto</td>
				<td>Juan Gutiérrez T.</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Matías Rojas</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Nicolás Villa Contardo</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Sebastián Donoso</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Sofía Rojas</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Victoria Arce</td>
			</tr>
		</table>
	</div>

	<a href="{% url 'index' %}">Volver al índice.</a>
	<br>
	<a href="{% url 'pestañalibre' %}">Acá está mi obra de arte.</a>

</body>
</html>