<!DOCTYPE html>
<html>
<head>
	<title>Índice Desafío 1</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Título 1: Este es el más grande</h1>
	<h2>Título 2: Este es bueno para subtítulos</h2>
	<h3>Este es el índice para el desafío 1</h3>
	<h4>de Andrés Olivares</h4>
	<h5>Lo quise cambiar un poco</h5>
	<h6>Espero que no les moleste</h6>

	<div>
		<table>
			<tr>
				<td>Columna 1 - fila 1</td>
				<td>Columna 2 - fila 1</td>
				<td>Columna 3 - fila 1</td>
			</tr>
			<tr>
				<td>Columna 1 - fila 2</td>
				<td>Columna 2 - fila 2</td>
				<td>Columna 3 - fila 2</td>
			</tr>
		</table>
	</div>

	<a href="{% url 'equipodocente' %}">Este es el Equipo Docente.</a>
	<br>
	<a href="{% url 'pestañalibre' %}">Acá está mi obra de arte.</a>


</body>
</html>